.sidebar {
    display: flex;
    width: 248px;
    height: 100%;
    padding: 30px 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background: var(--gray-white, #FFF);
    
}